
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f7f5;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 120px;
    

}

#navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: #050505;
}

button {
    display: inline;
    padding: 15px 10px;
    border-radius: 7px;
    margin: 5px;
    background-color: #408d9c;
    color: #ffffff;
}

.introduction .main {
    padding-top: 30px;
    margin: 10%;
}

.introduction img{
    position: absolute;
    left: 75%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
}

.introduction .main h1{ 
    font-size: 50px;
    padding: 0px;
}

.aboutus {
    padding-top: 30px;
    margin: 10%;
}

.aboutus #leads {
    border: 1px;
    background-color: #ffffff;
}